@use "./widgets/workspaces";
@use "./widgets/pulse-audio-volume";
@use "./widgets/monitor-backlight";
// @use "./widgets/wifi-list";
// @use "./widgets/launcher";
@use "./colors";

window {
  font-size: 16px;
  color: colors.$color-base;
  background-color: transparent;
}

.main-container {
  padding: 4px 16px;
  background-color: colors.$color-background-solid;
}

.backdrop {
  background-color: colors.$color-background;
  border: 1px solid colors.$color-base;
  border-radius: 8px;
  padding: 0px 16px;
  margin: 5px 0 0 0;
  box-shadow: 0 0 4px black;
  padding: 5px 16px;
}
